@page "{id:Guid?}"
@model ReferralRockWebApp.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add Referral</h1>

<hr />

<form asp-page-handler="button" method="post">
    <input hidden type="text" asp-for="referralCode" value=@Model.referralCode />
    <p>
        First Name: <input type="text" asp-for="firstName" />
    </p>
    <p>
        Last Name: <input type="text" asp-for="lastName" />
    </p>
    <p>
        Email: <input type="text" asp-for="email" />
    </p>
    <button type="submit" class="btn btn-primary">Add</button>
</form>


<div>
    <a asp-page="Index">Back to Member List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
