@page "{id:Guid?}"
@model ReferralRockWebApp.Pages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Referral Deleted</h1>
<div>
    <form method="post">
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
