@page
@model ReferralRockWebApp.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}



<h1>Edit Referral</h1>

<hr />
<form asp-page-handler="button" method="post">
    <input hidden type="text" asp-for="referralId" value=@Model.referralId />
    <p>
        First Name: <input type="text" asp-for="firstName" value=@Model.firstName />
    </p>
    <p>
        Last Name: <input type="text" asp-for="lastName" value=@Model.lastName />
    </p>
    <p>
        Email: <input type="text" asp-for="email" value=@Model.email />
    </p>
    <button type="submit" class="btn btn-primary">Update</button>
</form>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

